{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Treadmill Deals!</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'affiliate/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'affiliate/css/modern-business.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="index.html">Treadmill Deals!</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="services.html">Privacy policy</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('{% static 'affiliate/images/1.jpg' %}')">
          <div class="carousel-caption d-none d-md-block">
            <h3>STreadmill deals</h3>
            <p>Find lowest treadmill online</p>
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('{% static 'affiliate/images/2.jpg' %}')">
          <div class="carousel-caption d-none d-md-block">
            <h3>STreadmill deals</h3>
            <p>Find lowest treadmill online</p>
          </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('{% static 'affiliate/images/3.jpg' %}')">
          <div class="carousel-caption d-none d-md-block">
            <h3>STreadmill deals</h3>
            <p>Find lowest treadmill online</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </header>

  <!-- Page Content -->
  <div class="container">

    <h1 class="my-4">Treadmill Deals...</h1>
    <div class="row">
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://www.amazon.com/Treadmill-Multifunctional-Adjustment-Hydraulic-Absorption/dp/B08LBNP3DW/ref=sr_1_3?dchild=1&keywords=treadmill&nav_sdd=aps&pd_rd_r=d834f467-53ed-487b-be2a-f1d21c0c28f5&pd_rd_w=0AXkN&pd_rd_wg=eLF2L&pf_rd_p=3fb72727-c10d-41a6-9a31-f626d7fda90c&pf_rd_r=TZ06XJA412KDPXN1REW6&qid=1606755231&refinements=p_36%3A17431217011&s=exercise-and-fitness&sr=1-3">
            <img class="card-img-top" src="{% static 'affiliate/images/t1.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Corded Electric</a>
            </h4>
            <p class="card-text">Treadmill Multifunctional 4.5HP 15.6Inch Color Screen WiFi 15 Slope Adjustment Hydraulic Folding Shock Absorption Ultra Silent Heart Rate Test Running Machine for Home Gym</p>
            <a href="https://www.amazon.com/Treadmill-Multifunctional-Adjustment-Hydraulic-Absorption/dp/B08LBNP3DW/ref=sr_1_3?dchild=1&keywords=treadmill&nav_sdd=aps&pd_rd_r=d834f467-53ed-487b-be2a-f1d21c0c28f5&pd_rd_w=0AXkN&pd_rd_wg=eLF2L&pf_rd_p=3fb72727-c10d-41a6-9a31-f626d7fda90c&pf_rd_r=TZ06XJA412KDPXN1REW6&qid=1606755231&refinements=p_36%3A17431217011&s=exercise-and-fitness&sr=1-3" class="btn btn-secondary">$3,325.89</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://www.amazon.com/Multifunction-Foldable-Treadmill-Treadmills-Adjustment/dp/B08FB47LDK/ref=sr_1_18?dchild=1&keywords=treadmill&nav_sdd=aps&pd_rd_r=d834f467-53ed-487b-be2a-f1d21c0c28f5&pd_rd_w=0AXkN&pd_rd_wg=eLF2L&pf_rd_p=3fb72727-c10d-41a6-9a31-f626d7fda90c&pf_rd_r=TZ06XJA412KDPXN1REW6&qid=1606755231&refinements=p_36%3A17431217011&s=exercise-and-fitness&sr=1-18">
            <img class="card-img-top" src="{% static 'affiliate/images/t2.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Hydraulic Folding</a>
            </h4>
            <p class="card-text">Multifunction Foldable Electric Treadmill, Foldable Treadmills, Easy to Assemble and Move,200KG Bearing,15 Grades of Slope Adjustment,12 Preset Programs,1-20km/h Speed Adjustment MZXDX</p>
            <a href="https://www.amazon.com/Multifunction-Foldable-Treadmill-Treadmills-Adjustment/dp/B08FB47LDK/ref=sr_1_18?dchild=1&keywords=treadmill&nav_sdd=aps&pd_rd_r=d834f467-53ed-487b-be2a-f1d21c0c28f5&pd_rd_w=0AXkN&pd_rd_wg=eLF2L&pf_rd_p=3fb72727-c10d-41a6-9a31-f626d7fda90c&pf_rd_r=TZ06XJA412KDPXN1REW6&qid=1606755231&refinements=p_36%3A17431217011&s=exercise-and-fitness&sr=1-18" class="btn btn-secondary">$2,532.89</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://www.amazon.com/Electric-Treadmill-Treadmills-Regulation-Intelligent/dp/B08F9MF8QB/ref=sr_1_15?dchild=1&keywords=treadmill&nav_sdd=aps&pd_rd_r=d834f467-53ed-487b-be2a-f1d21c0c28f5&pd_rd_w=0AXkN&pd_rd_wg=eLF2L&pf_rd_p=3fb72727-c10d-41a6-9a31-f626d7fda90c&pf_rd_r=TZ06XJA412KDPXN1REW6&qid=1606755231&refinements=p_36%3A17431217011&s=exercise-and-fitness&sr=1-15">
            <img class="card-img-top" src="{% static 'affiliate/images/t3.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Corded Electric</a>
            </h4>
            <p class="card-text">Folding Electric Treadmill, Treadmills for Home 265 Lbs Weight Capacity, 1-14km/h Speed Regulation, Intelligent Voice Control, Very Silent, Easy to Assemble, Follow The Real Scene MZXDX</p>
            <a href="https://www.amazon.com/Electric-Treadmill-Treadmills-Regulation-Intelligent/dp/B08F9MF8QB/ref=sr_1_15?dchild=1&keywords=treadmill&nav_sdd=aps&pd_rd_r=d834f467-53ed-487b-be2a-f1d21c0c28f5&pd_rd_w=0AXkN&pd_rd_wg=eLF2L&pf_rd_p=3fb72727-c10d-41a6-9a31-f626d7fda90c&pf_rd_r=TZ06XJA412KDPXN1REW6&qid=1606755231&refinements=p_36%3A17431217011&s=exercise-and-fitness&sr=1-15" class="btn btn-secondary">$2,584.84</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://www.amazon.com/CHENNAO-Control-Exercise-Foldable-Treadmill/dp/B086QC5PQP/ref=sr_1_27?dchild=1&keywords=treadmill&nav_sdd=aps&pd_rd_r=d834f467-53ed-487b-be2a-f1d21c0c28f5&pd_rd_w=0AXkN&pd_rd_wg=eLF2L&pf_rd_p=3fb72727-c10d-41a6-9a31-f626d7fda90c&pf_rd_r=TZ06XJA412KDPXN1REW6&qid=1606755248&refinements=p_36%3A17431217011&s=exercise-and-fitness&sr=1-27">
            <img class="card-img-top" src="{% static 'affiliate/images/t4.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Sport Running</a>
            </h4>
            <p class="card-text">CHENNAO Smart App Control Walking pad Exercise Sport Running Machine Foldable Indoor Fitness Treadmill Walking Machine.
                |  Brand: CHENNAO</p>
            <a href="https://www.amazon.com/CHENNAO-Control-Exercise-Foldable-Treadmill/dp/B086QC5PQP/ref=sr_1_27?dchild=1&keywords=treadmill&nav_sdd=aps&pd_rd_r=d834f467-53ed-487b-be2a-f1d21c0c28f5&pd_rd_w=0AXkN&pd_rd_wg=eLF2L&pf_rd_p=3fb72727-c10d-41a6-9a31-f626d7fda90c&pf_rd_r=TZ06XJA412KDPXN1REW6&qid=1606755248&refinements=p_36%3A17431217011&s=exercise-and-fitness&sr=1-27" class="btn btn-secondary">$679.86</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://www.amazon.com/Dynamax-RunningPad-Treadmill-Foldable-Handrail/dp/B086MX72SF/ref=pd_di_sccai_1/141-0015196-1774715?_encoding=UTF8&pd_rd_i=B086MX72SF&pd_rd_r=69cb9a51-feaa-470c-9ba7-e94b2749dc6f&pd_rd_w=dDKet&pd_rd_wg=SzQBH&pf_rd_p=c9443270-b914-4430-a90b-72e3e7e784e0&pf_rd_r=NK8HT1SMBH3M1AHX471C&psc=1&refRID=NK8HT1SMBH3M1AHX471C">
            <img class="card-img-top" src="{% static 'affiliate/images/t5.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Mini Quiet Treadmill</a>
            </h4>
            <p class="card-text">Dynamax RunningPad - Black Compact Running Walking Treadmill with Foldable Handrail & LED Console for Speed, Time, Distance Mini Quiet Treadmill with Workout App for Home/Office.
              |  Brand: Dynamax</p>
            <a href="https://www.amazon.com/Dynamax-RunningPad-Treadmill-Foldable-Handrail/dp/B086MX72SF/ref=pd_di_sccai_1/141-0015196-1774715?_encoding=UTF8&pd_rd_i=B086MX72SF&pd_rd_r=69cb9a51-feaa-470c-9ba7-e94b2749dc6f&pd_rd_w=dDKet&pd_rd_wg=SzQBH&pf_rd_p=c9443270-b914-4430-a90b-72e3e7e784e0&pf_rd_r=NK8HT1SMBH3M1AHX471C&psc=1&refRID=NK8HT1SMBH3M1AHX471C" class="btn btn-secondary">$289.99</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://www.amazon.com/dp/B08JTLZ2HX/ref=syn_sd_onsite_desktop_102?psc=1&uh_it=1cfe14aa07a0ba313dc106d6fe838721_CT&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEzRTU0SFkzMlBLMEs2JmVuY3J5cHRlZElkPUEwNjYzMDg4TEtJMjNFU1ZFOVI5JmVuY3J5cHRlZEFkSWQ9QTA1MDUwNDIyRVVNUTlOSjVZRlpIJndpZGdldE5hbWU9c2Rfb25zaXRlX2Rlc2t0b3AmYWN0aW9uPWNsaWNrUmVkaXJlY3QmZG9Ob3RMb2dDbGljaz10cnVl">
            <img class="card-img-top" src="{% static 'affiliate/images/t6.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Stop Safety Function</a>
            </h4>
            <p class="card-text">Aceshin Folding Treadmill Electric Running Machine Auto Stop Safety Function Treadmill with LCD Monitor Running Walking Jogging Exercise Fitness Machine for Home Gym.
                |  Brand: Aceshin</p>
            <a href="https://www.amazon.com/dp/B08JTLZ2HX/ref=syn_sd_onsite_desktop_102?psc=1&uh_it=1cfe14aa07a0ba313dc106d6fe838721_CT&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEzRTU0SFkzMlBLMEs2JmVuY3J5cHRlZElkPUEwNjYzMDg4TEtJMjNFU1ZFOVI5JmVuY3J5cHRlZEFkSWQ9QTA1MDUwNDIyRVVNUTlOSjVZRlpIJndpZGdldE5hbWU9c2Rfb25zaXRlX2Rlc2t0b3AmYWN0aW9uPWNsaWNrUmVkaXJlY3QmZG9Ob3RMb2dDbGljaz10cnVl" class="btn btn-secondary">$875.99</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
    <br/>
    <hr>
    <br/><br/>
    <!-- Features Section -->
    <div class="row">
      <div class="col-lg-6">
        <script type="text/javascript">
          amzn_assoc_placement = "adunit0";
          amzn_assoc_search_bar = "true";
          amzn_assoc_tracking_id = "kitchecookwa-20";
          amzn_assoc_search_bar_position = "bottom";
          amzn_assoc_ad_mode = "search";
          amzn_assoc_ad_type = "smart";
          amzn_assoc_marketplace = "amazon";
          amzn_assoc_region = "US";
          amzn_assoc_title = "Shop Related Products";
          amzn_assoc_default_search_phrase= "jogging";
          amzn_assoc_default_category= "All";
          amzn_assoc_linkid = "0cda44a7a71d49b76391aba22895b969";
        </script>
        <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>

      </div>
      <div class="col-lg-6">
        <script type="text/javascript">
          amzn_assoc_placement = "adunit0";
          amzn_assoc_search_bar = "true";
          amzn_assoc_tracking_id = "kitchecookwa-20";
          amzn_assoc_search_bar_position = "bottom";
          amzn_assoc_ad_mode = "search";
          amzn_assoc_ad_type = "smart";
          amzn_assoc_marketplace = "amazon";
          amzn_assoc_region = "US";
          amzn_assoc_title = "Shop Related Products";
          amzn_assoc_default_search_phrase= "treadmills";
          amzn_assoc_default_category= "All";
          amzn_assoc_linkid = "0cda44a7a71d49b76391aba22895b969";
        </script>
        <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
      </div>
    </div>
    <!-- /.row -->

<br/>
<hr>
<br/><br/>

    <!-- Call to Action Section -->
    <div class="row mb-4">
      <div class="col-md-8">
        <p>One of the most popular types of home exercise equipment is the treadmill, which provides a straightforward, efficient aerobic workout. For many, treadmills are a good choice to begin a new exercise routine because walking is well tolerated by most individuals regardless of fitness level and for most back conditions. As strength and endurance are developed, the treadmill can be used for jogging and/or for interval training.</p>
      </div>
      <div class="col-md-4">
        <a class="btn btn-lg btn-secondary btn-block" href="https://www.amazon.com/s?k=treadmill&ref=nb_sb_noss">Shop Treamills on Amazon</a>
      </div>
    </div>

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'affiliate/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'affiliate/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
